################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/arraySort/v15
/arraySort/bin/Debug
/arraySort/obj/Debug
